<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<div *ngFor="let p of pokemonList">
    <div class="row" *ngIf="p.id % 4 === 0">
        <div class="column" (click)="pokemonDetails(p.id)">
            <div class="card-base">
                <div class="card-header" style="height: 32px">
                    <div>
                        <p class="alignleft">{{p.name}}</p>
                        <p class="alignright">{{p.id}}</p>
                    </div>
                </div>

                <div style="padding-left: 25%;">
                    <img src="{{p.sprite}}" alt="{{p.name}}" class="image-big">
                </div>

                <p style="text-align: center; font-size: 13px; margin-top: 25px; font-size: 15px;"><span [id]="p.id " class="span"
                        *ngFor="let t of p.types;" [class]="t.type.name" style="border-radius: 50px;
                        text-align: center; padding: 6px; border: 3px solid white;">
                        <strong style="color: white;">{{t.type.name}}</strong></span><br></p>

            </div>
        </div>
    </div>

    <div *ngIf="p.id % 4 === 0"><br></div>

    <div class="column" *ngIf="p.id % 4 !== 0">
        <div class="card-base" (click)="pokemonDetails(p.id)">
            <div class="card-header" style="height: 32px">
                <div>
                    <p class="alignleft">{{p.name}}</p>
                    <p class="alignright">{{p.id}}</p>
                </div>
            </div>

            <div style="padding-left: 25%;">
                <img src="{{p.sprite}}" alt="{{p.name}}" class="image-big">
            </div>

            <p style="text-align: center; font-size: 13px; margin-top: 25px; font-size: 15px;"><span [id]="p.id " class="span" *ngFor="let t of p.types;"
                    [class]="t.type.name" style="border-radius: 50px;
                    text-align: center; padding: 6px; border: 3px solid white;">
                    <strong style="color: white;">{{t.type.name}}</strong></span><br></p>

        </div>
    </div>
</div>

<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->