<script>
    alert('1');
    
</script>
    <div *ngFor="let p of pokemonList">
        <div class="row" *ngIf="p.id % 4 === 0">
            <div class="column">
                <div class="card">
                    <div class="icon"><img src="{{p.sprite}}"></div>
                    <p class="title">Name: {{p.name}}<br>ID: {{p.id}}</p>
                    <p class="text"><span [id]="p.id " class="span" *ngFor="let t of p.types;" text-align="center"
                    [class]="t.type.name"
                        style="border-radius: 50px; padding-left: 7px;
                        padding-right: 5px; border: 1px solid black;">{{t.type.name}}{{t.color}}</span></p>
                        <br>
                    <p class="text">Abilities: <span *ngFor="let a of p.abilities; let isLast = last"
                        align="center">{{a.ability.name}}{{isLast ? '' : ', '}}</span></p>
                </div>
            </div>
        </div>
            
        <div class="column" *ngIf="p.id % 4 !== 0">
                    <div class="card">
                        <div class="icon"><img src="{{p.sprite}}"></div>
                        <p class="title">Name: {{p.name}}<br>ID: {{p.id}}</p>
                        <p class="text"><span [id]="p.id " class="span" *ngFor="let t of p.types;" text-align="center"
                        [class]="t.type.name"
                            style="border-radius: 50px; padding-left: 7px;
                            padding-right: 5px; border: 1px solid black;">{{t.type.name}}{{t.color}}</span></p>
                            <br>
                        <p class="text">Abilities: <span *ngFor="let a of p.abilities; let isLast = last"
                            align="center">{{a.ability.name}}{{isLast ? '' : ', '}}</span></p>
                    </div>
            </div>
    </div>
            
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <!-- <div class="row">
            <div *ngFor="let p of pokemonList">
                <div class="column">
                    <div class="card" (click)="pokemonDetails(p.id)">
                        <div class="icon"><img src="{{p.sprite}}"></div>
                        <p class="title">Name: {{p.name}}<br>ID: {{p.id}}</p>
                    </div>
                </div>
            </div>
        </div> -->
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->