/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 0px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*****************************************************************************/
/* Default Tag Styles */
p {
  font-size: 10px;
  font-weight: 500;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0;
}

/*****************************************************************************/
/* Filter Options Div Style */
.search-box {
  width: 100%-4px;
  height: 60px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  margin-bottom: 10px;
  border-width: 4px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  background-color: purple;
}

/*****************************************************************************/

/* Card Styles */

.card-base {
  top: 10%;
  left: 40%;
  background: crimson;
  width: 270px;
  height: 250px;
  border-width: 8px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px #000000;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.card-base:hover {
  margin: 0px;
  background: white;
  border-color: crimson;
  transition: all 0.3s ease;
}

/* Card Header */

.alignleft {
  float: left;
  font-size: 20px;
  line-height: 0;
  margin: 0;
  font-weight: bold;
  color: white;
}

.card-base:hover .alignleft {
  color: crimson;
  font-size: 25px;
  transition: all 0.3s ease;
}

.alignright {
  float: right;
  width: auto;
  font-size: 30px;
  color: black;
  line-height: 0;
  margin: 0;
  padding-right: 1px;
  font-weight: bold;
  color: white;
}

.card-base:hover .alignright {
  color: crimson;
  font-size: 40px;
  transition: all 0.3s ease;
}

/* Main image */

.img-big {
  padding-left: 25%;
}
.card-base:hover .img-big{
  padding-left: 22%;
  transition: all 0.3s ease;
}
.image-big {
  width: 128px;
  border: 6px solid transparent;
  border-color: white;
  border-image-slice: 1;
  box-shadow: 0 0 10px #000000;
  border-radius: 80%;
  background: linear-gradient(90deg, lawngreen 0%, yellowgreen 20%, rgba(0, 0, 0, 0.28) 100%);
  background-position: 0px;
  background-size: 250px;
}

.card-base:hover .image-big {
  width: 140px;
  border-color: crimson;
  background: linear-gradient(0deg, lawngreen 0%, yellowgreen 20%, rgba(0, 0, 0, 0.28) 100%);
  transition: all 0.3s ease;
}

/* Card contents and text */

#span-circle {
  text-align: center;
  font-size: 13px;
  margin-top: 25px;
  font-size: 15px;
}

#type-circle {
  border-radius: 50px;
  text-align: center;
  padding: 6px;
  border: 3px solid white;
  font-weight: bold;
  color: white;
}

.card-base:hover #type-circle {
  border: 5px solid crimson;
  font-size: 20px;
  font-style: italic;
  transition: all 0.3s ease;
}
/*****************************************************************/

/*Type Background Check*/

.Normal {
  background-color: #A8A878;
}

.Fire {
  background-color: #F08030;
}

.Fighting {
  background-color: #C03028;
}

.Water {
  background-color: #6890F0;
}

.Flying {
  background-color: #A890F0;
}

.Grass {
  background-color: #78C850;
}

.Poison {
  background-color: #A040A0;
}

.Electric {
  background-color: #F8D030;
}

.Ground {
  background-color: #E0C068;
}

.Psychic {
  background-color: #F85888;
}

.Rock {
  background-color: #B8A038;
}

.Ice {
  background-color: #98D8D8;
}

.Bug {
  background-color: #A8B820;
}

.Dragon {
  background-color: #7038F8;
}

.Ghost {
  background-color: #705898;
}

.Dark {
  background-color: #705848;
}

.Steel {
  background-color: #B8B8D0;
}

.Fairy {
  background-color: #EE99AC;
}
