/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 0px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*****************************************************************************/
p {
  font-size: 10px;
  font-weight: 500;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0;
}


.card-base {
  top: 10%;
  left: 40%;
  background: crimson;
  width: 270px;
  height: 250px;
  border-width: 8px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px #000000;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.card-base:hover {
  height: 260px;
  width: 280px;
  margin: 0px;
  background: white;
  border-color: crimson;
  transition: all 0.3s ease;
}

/* Header */

.alignleft {
  float: left;
  font-size: 20px;
  line-height: 0;
  margin: 0;
  font-weight: bold;
  color: gold;
}

.card-base:hover .alignleft {
  font-size: 25px;
}

.alignright {
  float: right;
  width: auto;
  font-size: 30px;
  color: black;
  line-height: 0;
  margin: 0;
  padding-right: 1px;
  font-weight: bold;
  color: gold;
}

.card-base:hover .alignright {
  font-size: 35px;
}

/* Main image */

.image-big {
  width: 128px;
  border: 6px solid transparent;
  border-color: white;
  /*linear-gradient(to right top, white , white);*/
  border-image-slice: 1;
  box-shadow: 0 0 10px #000000;
  border-radius: 80%;
  background: linear-gradient(90deg, lawngreen 0%, yellowgreen 20%, rgba(0, 0, 0, 0.28) 100%);
  background-position: 0px;
  background-size: 250px;
}

.card-base:hover .image-big {
  background-position: -120px;
  border-color: crimson;
  transition: all 0.3s ease;
}

/* Card contents and text */

.inner-container {
  position: relative;
  min-height: 50px;
}

.description {
  position: relative;
  top: 10px;
  bottom: 0;
  padding-left: 30px;
  padding-right: 28px;
}

.main-text {
  font-size: 11px;
  font-weight: 500;
  padding-left: 8px;
  padding-right: 8px;
}

/*****************************************************************/

/*Type Background Check*/

.Normal {
  background-color: #A8A878;
}

.Fire {
  background-color: #F08030;
}

.Fighting {
  background-color: #C03028;
}

.Water {
  background-color: #6890F0;
}

.Flying {
  background-color: #A890F0;
}

.Grass {
  background-color: #78C850;
}

.Poison {
  background-color: #A040A0;
}

.Electric {
  background-color: #F8D030;
}

.Ground {
  background-color: #E0C068;
}

.Psychic {
  background-color: #F85888;
}

.Rock {
  background-color: #B8A038;
}

.Ice {
  background-color: #98D8D8;
}

.Bug {
  background-color: #A8B820;
}

.Dragon {
  background-color: #7038F8;
}

.Ghost {
  background-color: #705898;
}

.Dark {
  background-color: #705848;
}

.Steel {
  background-color: #B8B8D0;
}

.Fairy {
  background-color: #EE99AC;
}
