hr {
  border: 2px solid crimson;
}

table, th, td {
  border: 5px solid crimson;
  border-collapse: collapse;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -12.5px;
  margin-bottom: -5px;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  min-width: 50px;
}

.general {
  width: 99.1%;
  border: 6px solid transparent;
  border-color: crimson;
  border-image-slice: 1;
  box-shadow: 0 0 10px #000000;
  background-color: bisque;
  margin: 0px;
  position: relative;
}
.details {
  width: 225px;
  height: 100%;
  position: absolute;
  float: left;
}
.moves {
  margin-left: 225px;
  margin-right: 220px;
  float: center;
  border: 5px solid transparent;
  border-color: crimson;
  margin-top: -5px;
  margin-bottom: -5px;
}

.stats {
  width: 225px;
  
  
  float: right;
}

.image-big {
  width: 150px;
  height: 150px;
}

.icon {
   margin: 0 auto;
   width: 100%;
   height: 80px;
   max-width:80px;
   background: linear-gradient(90deg, #F0E68C 0%, #EEE8AA 40%, rgba(0, 0, 0, 0.28) 60%);
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   transition: all 0.8s ease;
   background-position: 0px;
   background-size: 200px;
}

.egg {
  display: block;
  width: 77px;
  height: 110px;
  background-color: crimson;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  float: right;
  margin-right: 30%;
  margin-bottom: 5px;
  line-height: 7;
  text-align: center;
  font-weight: bold;
}

/*****************************************************************/

/*Type Background Check*/

.Normal {
  background-color: #A8A878;
}

.Fire {
  background-color: #F08030;
}

.Fighting {
  background-color: #C03028;
}

.Water {
  background-color: #6890F0;
}

.Flying {
  background-color: #A890F0;
}

.Grass {
  background-color: #78C850;
}

.Poison {
  background-color: #A040A0;
}

.Electric {
  background-color: #F8D030;
}

.Ground {
  background-color: #E0C068;
}

.Psychic {
  background-color: #F85888;
}

.Rock {
  background-color: #B8A038;
}

.Ice {
  background-color: #98D8D8;
}

.Bug {
  background-color: #A8B820;
}

.Dragon {
  background-color: #7038F8;
}

.Ghost {
  background-color: #705898;
}

.Dark {
  background-color: #705848;
}

.Steel {
  background-color: #B8B8D0;
}

.Fairy {
  background-color: #EE99AC;
}
